<header role="banner" class="sticky top-0 z-50">
  <div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </div>
        <ul
          tabindex="-1"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
        >
          <li><a href={import.meta.env.BASE_URL}>Inicio</a></li>
          <li>
            <details>
              <summary>Viajes desktop</summary>
              <ul class="p-2">
                <li>
                  <a href={`${import.meta.env.BASE_URL}designs/list-grid`}
                    >Viajes Grid</a
                  >
                </li>
                <li>
                  <a href={`${import.meta.env.BASE_URL}designs/list-slider`}
                    >Viajes Slider</a
                  >
                </li>
              </ul>
            </details>
          </li>
          <li>
            <a href={`${import.meta.env.BASE_URL}projects/`}>Proyectos</a>
          </li>
          <li><a href={`${import.meta.env.BASE_URL}about`}>Sobre mí</a></li>
        </ul>
      </div>
      <a
        href={import.meta.env.BASE_URL}
        class="btn btn-ghost text-xl hidden lg:flex">Pablo Dive</a
      >
    </div>

    <div class="navbar-center lg:hidden">
      <a href={import.meta.env.BASE_URL} class="btn btn-ghost text-xl"
        >Pablo Dive</a
      >
    </div>

    <!-- DESKTOP -->

    <div class="navbar-end">
      <ul class="menu menu-horizontal px-1 hidden lg:flex">
        <li><a href={import.meta.env.BASE_URL}>Inicio</a></li>
        <li>
          <details>
            <summary>Viajes desktop</summary>
            <ul class="p-2">
              <li>
                <a href={`${import.meta.env.BASE_URL}designs/list-grid`}
                  >Viajes Grid</a
                >
              </li>
              <li>
                <a href={`${import.meta.env.BASE_URL}designs/list-slider`}
                  >Viajes Slider</a
                >
              </li>
            </ul>
          </details>
        </li>
        <li>
          <a href={`${import.meta.env.BASE_URL}projects/`}>Proyectos</a>
        </li>
        <li><a href={`${import.meta.env.BASE_URL}about`}>Sobre mí</a></li>
      </ul>
    </div>
  </div>
</header>
